<?xml version="1.0"?>
<ruleset name="Perxel Image Optimizer">
	<description>Coding standards for the Perxel Image Optimizer plugin.</description>

	<file>.</file>

	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/node_modules/*</exclude-pattern>
	<exclude-pattern>/dist/*</exclude-pattern>
	<exclude-pattern>/languages/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg name="colors"/>
	<arg value="sp"/>

	<config name="minimum_supported_wp_version" value="6.0"/>
	<config name="testVersion" value="7.4-"/>

	<rule ref="WordPress">
		<exclude name="WordPress.WP.AlternativeFunctions.file_system_operations_fopen"/>
		<exclude name="WordPress.WP.AlternativeFunctions.file_system_operations_fwrite"/>
		<exclude name="WordPress.WP.AlternativeFunctions.file_system_operations_fclose"/>
		<exclude name="WordPress.WP.AlternativeFunctions.file_system_operations_file_get_contents"/>
	</rule>

	<rule ref="PHPCompatibilityWP"/>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="perxel_image_optimizer"/>
				<element value="PERXEL_IMAGE_OPTIMIZER"/>
				<element value="Perxel\ImageOptimizer"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="perxel-image-optimizer"/>
			</property>
		</properties>
	</rule>
</ruleset>
